/* this is universal css part  */
* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}

/* universal css part end  */

/* This is Navbar Section  */

nav {
    background-color: rgba(5, 151, 160, 0.15);
    color: black;
    height: auto;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 30px;
    margin-left: 950px;
}

li {
    display: inline-block;
    margin-right: 20px;
    font-size: x-large;
    font-weight: bolder;
}

a {
    color: black;
    text-decoration: none;
}

/* Navbar Section End  */

/* this is banner part  */
.banner-section {
    width: 100%;
    height: auto;
    background-color: rgba(229, 84, 115, 0.10);
    
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px; 
}

.banner-photo {
    width: 635px;
    height: 800px;
    margin-right: 240px;
    
}

.banner-text {
    margin-left: 240px;
    color: #272727;
    font-style: normal;
    line-height: normal;
    margin-right: 71px;
   

}

.banner-text h3 {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    height: 288px;
   
}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    height: 90px;
}

.banner-text button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    font-size: large;
}

/*  banner part end  */

/* this is section 2 start  */

.section2 {
    text-align: center;
    justify-content: center;
    margin-top: 175px;
}

.section2 h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.section2 p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}


/*  section 2 end */



/* this is section3 start  */

.section3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}


.section3 .img1 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    justify-content: center;
    align-items: center;
    

}

.section3 .img2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    justify-content: center;
    align-items: center;

}

.section3 .img3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    justify-content: center;
    align-items: center;

}

.section3 .img1 img {
    width: 310px;
    height: 428px;
    margin-left: 70px;
    margin-top: 110px;
}

.section3 .img2 img {
    width: 310px;
    height: 428px;
    margin-left: 70px;
    margin-top: 90px;
}

.section3 .img3 img {
    width: 320px;
    height: 428px;
    margin-left: 70px;
    margin-top: 110px;
}

.section3 p {
    text-align: center;
    margin-top: 10px;
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
}


/* section 3 end  */

/* This is section 4 start  */

.section4 {
    width: 100%;
    height: auto;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}

.section4 .pic {
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-right: 300px;

}

.section4 .hot h1 {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 240px;
    margin-top: 230px;
}

.section4 .hot p {
    margin-left: 240px;
    margin-top: 40px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section4 .hot button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background-color: #E55473;
    margin-left: 446px;
    margin-top: 40px;
    color: #fff;
    font-size: large;
}

/* section 4 end  */


/* this is section 5 start  */
.section5 {
    width: 100%;
    height: auto;
    margin-top: 128px;
    margin-bottom: 50px;
}

.section5 h1,
p {
    text-align: center;
    justify-content: center;
}

.section5 h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}

.section5 p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* section 5 end  */

/* This is section 6 start  */

.section6 {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imageGallery img {
    margin-left: 20px;
}

/* section 6 end  */

/* This is section 7 start  */

.section7 {
    margin-left: 50px;
    margin-right: 240px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.section7 .input {
    background-image: url(img/Rectangle\ 9.png);
    width: 1460px;
    height: 449px;
    flex-shrink: 0;
    padding: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 0;
}

.section7 .input h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 200px;
}

.section7 .input p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section7 input {
    /* justify-content: center;
    align-items: center; */
    margin-left: 400px;
    margin-top: 20px;
    width: 500px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
}

.section7 button {
    width: 120px;
    height: 54px;
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
}


/* section 7 end  */

/* footer section start  */
footer {
    width: 100%;
    height: auto;
    background-color: #111010;
    padding: 50px;
    margin-top: 30px;
}

footer h1 {

    text-align: center;
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 16px;

}

footer .copy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer section end  */

/* THE END CSS STYLE  */